.full-width
  width 100%
  
.center-content
  display flex
  justify-content center
  align-items center
  height 100%

.container
  height 100%

.navigator
  position fixed
  width 100%
  left 0px
  padding 10px